.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
}

.App-header {
  background-color: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vh;
/*  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: #000000;
}

.Button {
  width: 380px;
  background-color: #5be6ff;
  font-size: 8vh;
  border-radius: 48px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.Button2 {
  width: 100px;
  background-color: #5be6ff;
  font-size: 2vh;
  border-radius: 12px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.Button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
.Button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.page {
  margin: 20px;
}
.interactions {
  text-align: center;
}
.table {
  margin: 20px 0;
}
.table-header {
  display: flex;
  line-height: 24px;
  font-size: 16px;
  padding: 0 10px;
  justify-content: space-between;
}
.table-empty {
  margin: 200px;
  text-align: center;
  font-size: 16px;
}
.table-row {
  display: flex;
  line-height: 24px;
  white-space: nowrap;
  margin: 10px 0;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #e3e3e3;
}
.table-header > span {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
}
.table-row > span {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
}
.App-link {
  color: #FF69B4;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
